body {
  box-sizing: border-box;
  max-width: 780px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.app {
  outline: 2px solid black;
}

.footer {
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}

.button-basic {
  outline: 2px solid rgb(255, 8, 70);
}

.buttons-and-links {
  background: pink;
  font-size: 10px;
  padding: 1em;
  border-radius: 5px;
  color: black;
  border: 0;
  margin: 5px;
  text-decoration: none;
}

.article-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.article-card {
  width: 200px;
  background: rgb(250, 231, 231);
  border-radius: 7px;
  margin: 10px;
  text-decoration: none;
  box-shadow: 0 3px 10px rgb(89, 74, 93);
}

.article-links {
  margin: 7px;
}

.topic-button {
  margin: 5px;
  background: rgb(67, 67, 255);
  color: white;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

.author-button {
  margin: 10px;
  background: rgb(157, 157, 255);
  color: rgb(0, 0, 0);
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

.article-interactions {
  margin: 10px;
}

.votes-button {
  margin-right: 5px;
  margin-bottom: 5px;
}

.article-details {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: auto auto;
  gap: 10px;
  justify-content: center;
  max-height: 300px;
}

.article-image {
  grid-column: 1/2;
  grid-row: 1/3;
  border-radius: 20px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  justify-content: center;
}

.article-details h4 {
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: left;
  align-self: end;
}

.article-details h5 {
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: left;
  justify-content: space-evenly;
}